
# Ignore GUI and non-server components
TKINTER.py
Server.py
server_cmds.py
network_utils.py
Client.py

# Ignore folders
Unsafe_Files/
Unsafe_Files_Server/

# Ignore virtual environments, IDE, and cache files
venv/
__pycache__/
.idea/
.git/
