{% extends 'basic_design.html' %}

{% block body %}
<!--page purpose: present the end user with a gallery of images from each he can create
 a main in which he and others would be able to play-->

<div class = "galleries_search">
<label for="pages">Choose a page:</label>
        <select id="pages" name="pages">
        </select>
</div>
<div class="Template_gallery">
    <div>
        <img id=img0 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L0"></a></li>
    </div>
    <div>
        <img id=img1 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L1"></a></li>
    </div>
    <div>
        <img id=img2 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L2"></a></li>
    </div>
    <div>
        <img id=img3 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L3"></a></li>
    </div>
    <div>
        <img id=img4 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L4"></a></li>
    </div>
    <div>
        <img id=img5 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L5"></a></li>
    </div>
    <div>
        <img id=img6 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L6"></a></li>
    </div>
    <div>
        <img id=img7 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L7"></a></li>
    </div>
    <div>
        <img id=img8 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L8"></a></li>
    </div>
    <div>
        <img id=img9 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L9"></a></li>
    </div>
    <div>
        <img id=img10 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L10"></a></li>
    </div>
    <div>
        <img id=img11 src="{{url_for('static', filename='')}}" alt="">
        <li><a href="{{ url_for('map_maker') }}" id="L11"></a></li>
    </div>
</div>
<script src="{{url_for('static', filename='js/tg_cmds.js')}}"></script>
{% endblock %}




