<!DOCTYPE html>

<!-- This File's Purpose is to create a template for most other unlogged pages -->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/design.css') }}">
    <title> Maps N' History </title>
    <link rel="icon" href="{{ url_for('static', filename='gamelogo.JFIF') }}" type="image/x-icon">
</head>


<body>
<section id="main">
    <nav>
        <div class="logo">
            <a href="#">Maps N' History</a>
        </div>
        <ul class="menu">
            <li><a href="{{ url_for('unlogged_registration_page') }}">Register</a></li>
            <li><a href="{{ url_for('unlogged_login') }}">Login</a></li>
        </ul>
    </nav>
    <div class="video-container">
        <video src="{{url_for('static', filename='bg_video/hd0941.mov')}}" muted autoplay loop></video>
    </div>
    {% block body %}{% endblock %}
</section>
</body>
</html>